version: '3.8'


services:
  db:
    image: postgis/postgis:14-3.3-alpine
    platform: linux/amd64
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:?err} -d ${POSTGRES_DB:?err}"]
      timeout: 10s
      interval: 1s
      retries: 10

  bot:
    build:
      context: .
      dockerfile: ./Dockerfile
    command: ["poetry", "run", "runbot"]
    restart: always
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - ./.env

  web:
    build:
      context: .
      dockerfile: ./Dockerfile
    command: ["gunicorn", "--bind", "0.0.0.0:5000", "--access-logfile=-", "manage:app"]
    restart: always
    depends_on:
      db:
        condition: service_healthy
      bot:
        condition: service_started
    env_file:
      - ./.env
    volumes:
      - static_value:/app/admin/static/
      - ./admin/logs/:/app/admin/logs/

  nginx:
    build:
      context: ./infrastructure/nginx
      dockerfile: ./Dockerfile
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - ./infrastructure/nginx/delo-local.conf:/etc/nginx/servers/delo.conf:rw
      - ./infrastructure/nginx/letsencrypt/:/etc/letsencrypt/:rw
      - static_value:/var/html/static/
    depends_on:
      - web

volumes:
  postgres_data:
  static_value:
