body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
}

.index-wrapper {
    margin: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.form-auth {
    display: block;
}

.auth-form {

}

.auth-input-text {
    max-width: 454px;
    min-width: 285px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.auth-input-text__field {
    font-size: 18px;
    height: 52px;
    min-height: fit-content;
    padding: 0 12px;
    border: 1px solid rgb(230, 233, 242);
    border-radius: 10px;
}

.auth-input-text__field_error_message {
    border: 2px solid rgb(204, 61, 61);
}

.auth-input-text__label {
    cursor: text;
    margin-bottom: 6px;
    color: rgb(86, 93, 115);
    font-size: 16px;
}

.auth-input-text__submit {
    background-color: rgb(35, 84, 230);
    color: rgb(255, 255, 255);
    padding: 0px 18px;
    font-size: 20px;
    border-radius: 8px;
    font-weight: 600;
    height: 50px;
    border: none;
    max-width: 453px;
    width: 100%;
    margin-bottom: 6px;
    transition: .2s ease;
}

.auth-input-text__submit:hover {
    background-color: rgb(35, 84, 230, 0.9);
    transition: .2s ease;
}

.auth-input-text__message-error {
    margin: 6px 0 0;
    color: rgb(204, 61, 61);
    font-size: 16px;
}

.auth-input-text__field::placeholder {
    color: #c9c8ce;
}

.auth-input-text__field:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.list {
    display: flex;
    flex-direction: column;
	list-style: none;
    padding: 0;
}

.auth-link {
    margin: 0;
    color: rgb(86, 93, 115);
}
