<div class="dropdown">
    <a 
        class="btn btn-secondary dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
    >
        <i class="icon-user"></i> {{ current_user.login }} <span class="caret"></span>
    </a>

    <div class="dropdown-menu dropdown-menu_max_with dropdown_position_left" aria-labelledby="dropdownMenuLink">
        <a class="btn toggle_position_center" href="{{ url_for('admin.logout_view') }}">
            Выйти
        </a>
    </div>
</div>
