<p>Добрый день, {{ user.login }}!</p>
<p>Вы запросили смену пароля от Вашей учетной записи для доступа к админке бота "Дело живёт".</p>
<p>
     Для смены пароля перейдите
     <a href="{{ url_for('admin.reset_password_view', token=token, _external=True) }}">
        по ссылке
    </a>.
</p>
<p>Также Вы можете вставить данную ссылку в адресную строку браузера:</p>
{{ url_for('admin.reset_password_view', token=token, _external=True) }}
<p>Если Вы не запрашивали смену пароля, просто проигнорируйте данное сообщение</p>
