{% extends 'admin/master.html' %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block body %}
{{ super() }}
<div class="container">
    <div>
        <h1>Reset password</h1>
        {% block content %}
            <p>
                Please enter the email that you registered with.
                You will be sent an email that will allow you to reset your password.
            </p>

            <form method="post">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
                <input type="submit" value="Submit">
            </form>
        {% endblock %}
    </div>
</div>
{% endblock body %}
