{% extends 'admin/base.html' %}

{% block body %}
    {{ super() }}

	<section class='index-wrapper'>
        {% if current_user.is_authenticated %}
            <h1 class="display-3">
                Админка бота «Дело живёт»
            </h1>

            <p class="lead">
                Добро пожаловать,
                <strong>{{ current_user.login }}</strong>!
            </p>

            <p>
                Управление пользователями и волонтёрами в базе данных бота «Дело живёт».
            </p>
        {% endif %}

        {% if not current_user.is_authenticated %}
            <form method="POST" action="" class='form-auth' novalidate>
                {{ form.hidden_tag }}

                {% for field in form if field.type != 'CSRFTokenField' %}
                    <ul class='list'>
                        <li class='form-group'>
                            <label class='auth-input-text'>
                                <p class='auth-input-text__label'>
                                    {{ field.label.text }}
                                </p>

                                {% if field.errors %}
                                    {{ field(class_='auth-input-text__field auth-input-text__field_error_message', placeholder_=field.label.text) }}

                                    {% for error in field.errors %}
                                        <p class='auth-input-text__message-error'>
                                            {{ error }}
                                        </p>
                                    {% endfor %}
                                {% endif %}

                                {% if not field.errors %}
                                    {{ field(class_='auth-input-text__field', placeholder_=field.label.text) }}
                                {% endif %}
                            </label>
                        </li>
                    </ul>
                {% endfor %}

                <button type='submit' class='auth-input-text__submit'>
                    {{ submit_text }}
                </button>
            </form>
        {% endif %}

        {% if not current_user.is_authenticated and sigin_link %}
            <p class='auth-link'>
                Вы уже зарегистрированы?
                <a href="{{ sigin_link }}">
                    Нажмите здесь, чтобы войти
                </a>
            </p>
        {% endif %}

        {% if not current_user.is_authenticated and registration_link %}
            <p class='auth-link'>
                У Вас нет учетной записи?
                <a href="{{ registration_link }}">
                    Нажмите здесь, чтобы зарегистрироваться
                </a>
            </p>
        {% endif %}
    </section>
{% endblock body %}
