{% macro menu_icon(item) -%}
  {% set icon_type = item.get_icon_type() %}
  {% if icon_type %}
    {% set icon_value = item.get_icon_value() %}
    {% if icon_type == 'glyph' %}
      <i class="glyphicon {{ icon_value }}"></i>
    {% elif icon_type == 'fa' %}
      <i class="fa {{ icon_value }}"></i>
    {% elif icon_type == 'image' %}
      <img src="{{ url_for('static', filename=icon_value) }}" alt="menu image">
    {% elif icon_type == 'image-url' %}
      <img src="{{ icon_value }}" alt="menu image">
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro menu(menu_root=None) %}
    {% set is_main_nav = menu_root == None %}
    {% if menu_root is none %}{% set menu_root = admin_view.admin.menu() %}{% endif %}

    {% if current_user.is_authenticated %}
        {% for item in menu_root[:6] %}
            <li class="nav-item {% if item.is_active(admin_view) %}active{% endif %}">
                <a class='nav-link' href="{{ item.get_url() }}">
                    {{ item.name }}
                </a>
            </li>
        {% endfor %}

        <li class="nav-item">
            <a
              class="nav-link {% if menu_root[6].is_active(admin_view) or menu_root[7].is_active(admin_view) %}active{% endif %}"
              href="{{ menu_root[6].get_url() }}"
            >
                Тэги
            </a>
            {% if menu_root[7].is_active(admin_view) or menu_root[6].is_active(admin_view) %}
                <ul class='submenu__list'>
                    <li class="nav-item {% if menu_root[6].is_active(admin_view) %}active{% endif %}">
                        <a class='nav-link' href="{{ menu_root[6].get_url() }}">
                            {{ menu_root[6].name }}
                        </a>
                    </li>
                    <li class="nav-item {% if menu_root[7].is_active(admin_view) %}active{% endif %}">
                        <a class='nav-link' href="{{ menu_root[7].get_url() }}">
                            {{ menu_root[7].name }}
                        </a>
                    </li>
                </ul>
            {% endif %}
        </li>
    {% endif %}

    {% if not current_user.is_authenticated %}
        <li class="navbar__item {% if menu_root[0].is_active(admin_view) %}navbar__active{% endif %}">
            <a class='navbar__link' href="{{ menu_root[0].get_url() }}">
                {{ menu_root[0].name }}
            </a>
        </li>
    {% endif %}
{% endmacro %}


{% macro menu_links(links=None) %}
  {% if links is none %}{% set links = admin_view.admin.menu_links() %}{% endif %}
  {% for item in links %}
    {% set class_name = item.get_class_name() %}
    {% if item.is_accessible() and item.is_visible() %}
      <li{% if class_name %} class="{{ class_name }}"{% endif %}>
        <a class="nav-link" href="{{ item.get_url() }}"{% if item.target %} target="{{ item.target }}"{% endif %}>
          {{ menu_icon(item) }}{{ item.name }}</a>
      </li>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro messages() %}
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, m in messages %}
        {% if category %}
          {# alert-error changed to alert-danger in bootstrap 3, mapping is for backwards compatibility #}
          {% set mapping = {'message': 'info', 'error': 'danger'} %}
          <div class="alert alert-{{ mapping.get(category, category) }} alert-dismissable">
        {% else %}
          <div class="alert alert-dismissable">
        {% endif %}
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{ m }}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endmacro %}
